{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div class="container">
        <div class="section-heading">
            <h3 class="title is-2">Blog</h3>
            <br>
        </div>
        <div class="container">
            <div class="tile is-ancestor">
                {% for post in posts %}
                    <div class="tile is-parent">
                        <a href="{% url 'blog_detail' post.pk%}">
                            <article class="tile is-child box">
                                    <p class="title">{{ post.title }}</p>
                                    <p class="subtitle is-6">
                                        {{ post.created_on.date }}
                                    </p>
                                    <p class="subtitle is-6">
                                        {% for category in post.categories.all %}
                                        <a href="{% url 'blog_category' category.name %}">
                                            {{ category.name }}
                                        </a>
                                        {% endfor %}
                                    </p>
                                    </p>
                                    <div class="content">
                                        <p>{{ post.body | slice:":400" }}...</p>
                                    </div>
                                </article>
                        </a>
                    </div>                    
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}