{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div class="container">
        <div class="section-heading has-text-centered">
            <h3 class="title is-2">Erro!</h3>
            <br>
        </div>
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <h4 class="subtitle is-4">Algo deu errado</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}