{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container has-text-centered">
        <div class="section-heading">
            <h3 class="title is-2">{{ project.title }}</h3>
            <br>
        </div>
        <div class="columns">
                <div class="column is-8">
                    <figure class="image">
                            <img src="{{ project.image.url }}" alt="Imagem">
                    </figure>
                </div>
                <div class="column is-4">
                    <div class="content">
                        <h5 class="subtitle">Sobre o projeto</h5>
                        <p>{{ project.description }}</p>
                    </div>
                    <div class="content">
                        <h5 class="subtitle">Tecnologias usadas: </h5>
                        <p>{{ project.technology }}</p>
                    </div>
                </div>
        </div>
</div>
{% endblock %}